-- CreateTable
CREATE TABLE "systems" (
    "id" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "nameKz" TEXT,
    "scopeDefault" BOOLEAN NOT NULL DEFAULT true,
    "defectPrefix" TEXT NOT NULL,
    "protocolPrefix" TEXT NOT NULL,
    "photoPrefix" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "order" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "systems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "defect_types" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "defaultActionGroup" TEXT,
    "romWorkType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "defect_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "severity_levels" (
    "id" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "impactMin" INTEGER NOT NULL,
    "impactMax" INTEGER NOT NULL,
    "likelihoodMin" INTEGER NOT NULL,
    "likelihoodMax" INTEGER NOT NULL,
    "defaultDueDays" INTEGER NOT NULL,
    "requiresRisk" BOOLEAN NOT NULL DEFAULT false,
    "requiresClosure" BOOLEAN NOT NULL DEFAULT false,
    "color" TEXT,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "severity_levels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "na_reasons" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "textRu" TEXT,
    "needsComment" BOOLEAN NOT NULL DEFAULT false,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "na_reasons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "evidence_types" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isMandatoryOnFail" BOOLEAN NOT NULL DEFAULT false,
    "allowedFormats" TEXT[],

    CONSTRAINT "evidence_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customer_doc_types" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "required" BOOLEAN NOT NULL DEFAULT false,
    "appliesToSystems" TEXT[],
    "acceptsSubstitutes" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "customer_doc_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "norm_sources" (
    "id" TEXT NOT NULL,
    "normSourceId" TEXT NOT NULL,
    "jurisdiction" TEXT NOT NULL,
    "docType" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "editionDate" TIMESTAMP(3),
    "publisher" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "keywords" TEXT[],
    "tags" TEXT[],
    "notes" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "norm_sources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "norm_files" (
    "id" TEXT NOT NULL,
    "normSourceId" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "fileHash" TEXT NOT NULL,
    "storageUrl" TEXT NOT NULL,
    "accessLevel" TEXT NOT NULL DEFAULT 'INTERNAL',
    "uploadedBy" TEXT,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "norm_files_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "requirement_sets" (
    "id" TEXT NOT NULL,
    "requirementSetId" TEXT NOT NULL,
    "systemId" TEXT,
    "jurisdiction" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "ownerId" TEXT,
    "notes" TEXT,
    "tags" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,
    "publishedAt" TIMESTAMP(3),
    "publishedBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "requirement_sets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "requirements" (
    "id" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "requirementSetId" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "normSourceId" TEXT NOT NULL,
    "clause" TEXT NOT NULL,
    "requirementTextShort" TEXT NOT NULL,
    "requirementTextFull" TEXT,
    "checkMethod" TEXT NOT NULL,
    "evidenceTypeExpected" TEXT[],
    "mustCheck" BOOLEAN NOT NULL DEFAULT false,
    "tags" TEXT[],
    "applicabilityRules" JSONB,
    "severityHint" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "requirements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audits" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "objectName" TEXT NOT NULL,
    "objectAddress" TEXT,
    "customerName" TEXT,
    "customerContact" TEXT,
    "objectType" TEXT,
    "operationMode" TEXT,
    "criticalZones" TEXT[],
    "accessNotes" TEXT,
    "systemsInScope" TEXT[],
    "scopeDepth" TEXT NOT NULL DEFAULT 'STANDARD',
    "scopeExclusions" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "preAuditStatus" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "fieldStatus" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "reviewStatus" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "qcStatus" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "preAuditStartedAt" TIMESTAMP(3),
    "preAuditCompletedAt" TIMESTAMP(3),
    "fieldStartedAt" TIMESTAMP(3),
    "fieldCompletedAt" TIMESTAMP(3),
    "reviewStartedAt" TIMESTAMP(3),
    "reviewCompletedAt" TIMESTAMP(3),
    "qcRunAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "baselineFrozen" BOOLEAN NOT NULL DEFAULT false,
    "baselineFrozenAt" TIMESTAMP(3),
    "baselineFrozenBy" TEXT,
    "methodology" TEXT,
    "assumptions" TEXT,
    "verdict" TEXT,
    "verdictReason" TEXT,
    "topRisks" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "audits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_baselines" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "snapshotId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'FROZEN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,

    CONSTRAINT "audit_baselines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_norm_snapshots" (
    "id" TEXT NOT NULL,
    "baselineId" TEXT NOT NULL,
    "normSourceId" TEXT NOT NULL,
    "editionDate" TIMESTAMP(3),
    "fileHash" TEXT,

    CONSTRAINT "audit_norm_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_requirement_snapshots" (
    "id" TEXT NOT NULL,
    "baselineId" TEXT NOT NULL,
    "requirementSetId" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "snapshotData" JSONB NOT NULL,

    CONSTRAINT "audit_requirement_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "locations" (
    "id" TEXT NOT NULL,
    "locationId" TEXT NOT NULL,
    "auditId" TEXT,
    "siteName" TEXT,
    "buildingName" TEXT NOT NULL,
    "floorLabel" TEXT NOT NULL,
    "areaName" TEXT,
    "roomLabel" TEXT,
    "roomName" TEXT,
    "pointName" TEXT,
    "gps" TEXT,
    "locationFull" TEXT NOT NULL,
    "accessible" BOOLEAN NOT NULL DEFAULT true,
    "roomType" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "locations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "check_items" (
    "id" TEXT NOT NULL,
    "checkItemId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "locationId" TEXT,
    "locationScope" TEXT,
    "samplingRule" TEXT,
    "status" TEXT,
    "checkFact" TEXT,
    "naReasonId" TEXT,
    "naReasonComment" TEXT,
    "evidenceRefs" TEXT[],
    "checkedBy" TEXT,
    "checkedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "check_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "defects" (
    "id" TEXT NOT NULL,
    "defectId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "defectTypeId" TEXT,
    "requirementId" TEXT,
    "locationId" TEXT,
    "defectStatus" TEXT NOT NULL DEFAULT 'IN_REVIEW',
    "defectFact" TEXT NOT NULL,
    "evidenceNotes" TEXT,
    "noncomplianceStatement" TEXT,
    "impact" INTEGER,
    "likelihood" INTEGER,
    "severityLevelId" TEXT,
    "riskConsequence" TEXT,
    "priorityRank" INTEGER,
    "recommendation" TEXT,
    "correctiveActionGroup" TEXT,
    "closureCriteria" TEXT,
    "photoIds" TEXT[],
    "protocolIds" TEXT[],
    "responsibleParty" TEXT,
    "targetDueDate" TIMESTAMP(3),
    "actionStatus" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedBy" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "updatedBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "defects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "evidence" (
    "id" TEXT NOT NULL,
    "evidenceId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "evidenceType" TEXT NOT NULL,
    "fileName" TEXT,
    "fileSize" INTEGER,
    "fileType" TEXT,
    "storageUrl" TEXT,
    "thumbnailUrl" TEXT,
    "locationId" TEXT,
    "caption" TEXT,
    "notes" TEXT,
    "linkedDefectIds" TEXT[],
    "linkedProtocolIds" TEXT[],
    "linkedCheckItemIds" TEXT[],
    "capturedBy" TEXT,
    "capturedAt" TIMESTAMP(3),
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "evidence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "protocols" (
    "id" TEXT NOT NULL,
    "protocolId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "locationId" TEXT,
    "testType" TEXT,
    "participants" TEXT[],
    "methodology" TEXT,
    "methodologySteps" JSONB,
    "equipmentTested" TEXT,
    "expectedResult" TEXT,
    "actualResult" TEXT,
    "verdict" TEXT,
    "linkedDefectIds" TEXT[],
    "evidenceRefs" TEXT[],
    "conductedBy" TEXT,
    "conductedAt" TIMESTAMP(3),
    "finalizedBy" TEXT,
    "finalizedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "protocols_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_plans" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "systemId" TEXT NOT NULL,
    "testType" TEXT NOT NULL,
    "zones" TEXT[],
    "samplingMode" TEXT NOT NULL,
    "samplingRules" TEXT,
    "participants" TEXT[],
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "test_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_requests" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "docTypeId" TEXT NOT NULL,
    "required" BOOLEAN NOT NULL DEFAULT false,
    "dueDate" TIMESTAMP(3),
    "deliveryChannel" TEXT,
    "substitutesAllowed" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'REQUESTED',
    "providedAt" TIMESTAMP(3),
    "providedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "document_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "capa_actions" (
    "id" TEXT NOT NULL,
    "actionId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "defectId" TEXT,
    "systemId" TEXT,
    "actionTitle" TEXT NOT NULL,
    "actionDetails" TEXT,
    "priority" TEXT,
    "responsibleParty" TEXT,
    "responsiblePerson" TEXT,
    "dueDate" TIMESTAMP(3),
    "closureCriteria" TEXT,
    "verificationMethod" TEXT,
    "status" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "comments" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "capa_actions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "estimates" (
    "id" TEXT NOT NULL,
    "estimateId" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "estimateType" TEXT NOT NULL DEFAULT 'ROM',
    "accuracy" TEXT,
    "assumptions" TEXT,
    "totalLaborCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalMaterialsCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalCost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "estimates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "estimate_lines" (
    "id" TEXT NOT NULL,
    "estimateId" TEXT NOT NULL,
    "lineId" TEXT NOT NULL,
    "defectId" TEXT,
    "capaActionId" TEXT,
    "workType" TEXT,
    "unit" TEXT,
    "qty" DOUBLE PRECISION,
    "laborHours" DOUBLE PRECISION,
    "laborRate" DOUBLE PRECISION,
    "laborCost" DOUBLE PRECISION,
    "materialsDesc" TEXT,
    "materialsQty" DOUBLE PRECISION,
    "materialsUnitPrice" DOUBLE PRECISION,
    "materialsCost" DOUBLE PRECISION,
    "totalCost" DOUBLE PRECISION,
    "notes" TEXT,

    CONSTRAINT "estimate_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_pack_issues" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "qcStatus" TEXT,
    "qcReport" JSONB,
    "documentsIncluded" TEXT[],
    "zipUrl" TEXT,
    "zipHash" TEXT,
    "issuedBy" TEXT,
    "issuedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_pack_issues_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "persons" (
    "id" TEXT NOT NULL,
    "personId" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "organization" TEXT,
    "contact" TEXT,
    "permissions" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "persons_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "systems_systemId_key" ON "systems"("systemId");

-- CreateIndex
CREATE UNIQUE INDEX "defect_types_code_key" ON "defect_types"("code");

-- CreateIndex
CREATE UNIQUE INDEX "severity_levels_level_key" ON "severity_levels"("level");

-- CreateIndex
CREATE UNIQUE INDEX "na_reasons_code_key" ON "na_reasons"("code");

-- CreateIndex
CREATE UNIQUE INDEX "evidence_types_code_key" ON "evidence_types"("code");

-- CreateIndex
CREATE UNIQUE INDEX "customer_doc_types_code_key" ON "customer_doc_types"("code");

-- CreateIndex
CREATE UNIQUE INDEX "norm_sources_normSourceId_key" ON "norm_sources"("normSourceId");

-- CreateIndex
CREATE UNIQUE INDEX "norm_sources_code_editionDate_key" ON "norm_sources"("code", "editionDate");

-- CreateIndex
CREATE UNIQUE INDEX "requirement_sets_requirementSetId_key" ON "requirement_sets"("requirementSetId");

-- CreateIndex
CREATE UNIQUE INDEX "requirements_requirementId_key" ON "requirements"("requirementId");

-- CreateIndex
CREATE UNIQUE INDEX "audits_auditId_key" ON "audits"("auditId");

-- CreateIndex
CREATE UNIQUE INDEX "audit_baselines_auditId_key" ON "audit_baselines"("auditId");

-- CreateIndex
CREATE UNIQUE INDEX "audit_baselines_snapshotId_key" ON "audit_baselines"("snapshotId");

-- CreateIndex
CREATE UNIQUE INDEX "locations_locationId_key" ON "locations"("locationId");

-- CreateIndex
CREATE UNIQUE INDEX "check_items_checkItemId_key" ON "check_items"("checkItemId");

-- CreateIndex
CREATE UNIQUE INDEX "defects_defectId_key" ON "defects"("defectId");

-- CreateIndex
CREATE UNIQUE INDEX "evidence_evidenceId_key" ON "evidence"("evidenceId");

-- CreateIndex
CREATE UNIQUE INDEX "protocols_protocolId_key" ON "protocols"("protocolId");

-- CreateIndex
CREATE UNIQUE INDEX "capa_actions_actionId_key" ON "capa_actions"("actionId");

-- CreateIndex
CREATE UNIQUE INDEX "estimates_estimateId_key" ON "estimates"("estimateId");

-- CreateIndex
CREATE UNIQUE INDEX "persons_personId_key" ON "persons"("personId");

-- AddForeignKey
ALTER TABLE "norm_files" ADD CONSTRAINT "norm_files_normSourceId_fkey" FOREIGN KEY ("normSourceId") REFERENCES "norm_sources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "requirement_sets" ADD CONSTRAINT "requirement_sets_systemId_fkey" FOREIGN KEY ("systemId") REFERENCES "systems"("systemId") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "requirements" ADD CONSTRAINT "requirements_requirementSetId_fkey" FOREIGN KEY ("requirementSetId") REFERENCES "requirement_sets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "requirements" ADD CONSTRAINT "requirements_systemId_fkey" FOREIGN KEY ("systemId") REFERENCES "systems"("systemId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "requirements" ADD CONSTRAINT "requirements_normSourceId_fkey" FOREIGN KEY ("normSourceId") REFERENCES "norm_sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_baselines" ADD CONSTRAINT "audit_baselines_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_norm_snapshots" ADD CONSTRAINT "audit_norm_snapshots_baselineId_fkey" FOREIGN KEY ("baselineId") REFERENCES "audit_baselines"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_norm_snapshots" ADD CONSTRAINT "audit_norm_snapshots_normSourceId_fkey" FOREIGN KEY ("normSourceId") REFERENCES "norm_sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_requirement_snapshots" ADD CONSTRAINT "audit_requirement_snapshots_baselineId_fkey" FOREIGN KEY ("baselineId") REFERENCES "audit_baselines"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_requirement_snapshots" ADD CONSTRAINT "audit_requirement_snapshots_requirementSetId_fkey" FOREIGN KEY ("requirementSetId") REFERENCES "requirement_sets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "check_items" ADD CONSTRAINT "check_items_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "check_items" ADD CONSTRAINT "check_items_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "requirements"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "check_items" ADD CONSTRAINT "check_items_systemId_fkey" FOREIGN KEY ("systemId") REFERENCES "systems"("systemId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "check_items" ADD CONSTRAINT "check_items_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "locations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "check_items" ADD CONSTRAINT "check_items_naReasonId_fkey" FOREIGN KEY ("naReasonId") REFERENCES "na_reasons"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_systemId_fkey" FOREIGN KEY ("systemId") REFERENCES "systems"("systemId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_defectTypeId_fkey" FOREIGN KEY ("defectTypeId") REFERENCES "defect_types"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "requirements"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "locations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "defects" ADD CONSTRAINT "defects_severityLevelId_fkey" FOREIGN KEY ("severityLevelId") REFERENCES "severity_levels"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "evidence" ADD CONSTRAINT "evidence_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "evidence" ADD CONSTRAINT "evidence_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "locations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "protocols" ADD CONSTRAINT "protocols_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "protocols" ADD CONSTRAINT "protocols_systemId_fkey" FOREIGN KEY ("systemId") REFERENCES "systems"("systemId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "protocols" ADD CONSTRAINT "protocols_locationId_fkey" FOREIGN KEY ("locationId") REFERENCES "locations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "test_plans" ADD CONSTRAINT "test_plans_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_requests" ADD CONSTRAINT "document_requests_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_requests" ADD CONSTRAINT "document_requests_docTypeId_fkey" FOREIGN KEY ("docTypeId") REFERENCES "customer_doc_types"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "capa_actions" ADD CONSTRAINT "capa_actions_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "capa_actions" ADD CONSTRAINT "capa_actions_defectId_fkey" FOREIGN KEY ("defectId") REFERENCES "defects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "estimates" ADD CONSTRAINT "estimates_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "estimate_lines" ADD CONSTRAINT "estimate_lines_estimateId_fkey" FOREIGN KEY ("estimateId") REFERENCES "estimates"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "estimate_lines" ADD CONSTRAINT "estimate_lines_defectId_fkey" FOREIGN KEY ("defectId") REFERENCES "defects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "estimate_lines" ADD CONSTRAINT "estimate_lines_capaActionId_fkey" FOREIGN KEY ("capaActionId") REFERENCES "capa_actions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_pack_issues" ADD CONSTRAINT "audit_pack_issues_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

